.b{
    width: 90%;
    height: 60%;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.w{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: italic;
    text-align: center ;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow-x: visible;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
  }
  .c{
      text-align: center;
      color: whitesmoke;
      font-family: sans-serif;
      font-size: 50px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
